<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

</head>
<style>

	body {
		
		background-color: orange;
		font-family: 'Anton', sans-serif;

	}

	.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    margin:5px;
	}
	
	hr {
    clear: both;
    visibility: hidden;
	}
	a {
		text-decoration; none;
	}
</style>
<h1 style="text-align: center;">ToDo App</h1>

{% block content %}
{% endblock content %}